/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common styles or attributes */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a,
.fa-arrow-right {
  text-decoration: none;
  color: white;
}

/* p{
    display: inline;
} */

/* Header section */
header {
  background-color: #2d25a0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

/* Navigation section */
nav {
  font-size: 16px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left a {
  margin-right: 20px;
}

.nav-right {
  background-color: #e02c6d;
  padding: 8px 24px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Banner Section */
.banner {
  width: 1000px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.banner-title h1 {
  font-size: 50px;
  font-weight: bolder;
}
.banner-title .watch-live {
  display: inline-block;
  background-color: #e02c6d;
  padding: 8px 24px;
  border-radius: 5px;
}

.banner-logo {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-right: 0;
}
.banner-logo img {
  width: 90%;
}

/* Main Section start */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
/* Top players section start */
.top-players {
  width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.player {
  padding: 15px;
  box-shadow: 5px 5px 40px rgba(128, 128, 128, 0.274);
}
.player img {
  width: 100%;
}
.player h2 {
  font-weight: bolder;
}
/* Top players section end */

/* Highlights section start */
.highlights {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 950px;
  display: flex;
  align-items: center;
}

.highlights-title h1{
  font-size: 40px;
  font-weight: bolder;
}
.highlights-title .watch-now {
  display: inline-block;
  background-color: #e02c6d;
  padding: 8px 24px;
  border-radius: 5px;
}

.highlights-logo {
  /* width: 80%; */
  display: flex;
  justify-content: end;
  margin-right: 0;
}

.highlights-logo img {
  width: 80%;
}

/* Highlights section end */

/* Main Section end */


/* Footer section start */
footer{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img{
  width: 40%;
}

footer .social-icons div{
  background-color: rgba(128, 128, 128, 0.205);
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}

.social-icons a{
  color: gray;
}

footer .social-icons #instagram{
  padding: 5px 11px;
}
footer .social-icons #facebook{
  padding: 5px 13px;
}
footer .social-icons #twitter{
  padding: 5px 10px;
}
footer .social-icons #youtube{
  padding: 5px 9px;
  margin-right: 0;
}
/* Footer section end */
