/* ---- Fonts ------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ---- Animations ------ */
@keyframes banner-image-zoom-in-out {
  from {
    width: 60%;
  }
  to {
    width: 70%;
  }
}

@keyframes color-transfrom {
  from {
    color: #e02c6d;
  }
  to {
    color: #ffffff;
  }
}

/* -----------------------------------
  ----Common styles or attributes-----
-------------------------------------- */
/*  */
body {
  /* background-color: red; */
  margin: 0;
  
  font-family: "Poppins", sans-serif;
}

a,
.fa-arrow-right {
  text-decoration: none;
  color: white;
}

.fa-arrow-right {
  animation: color-transfrom 1s ease-in-out 0.3s infinite alternate;
}

/* --------------------------------
  ------Header section start-------
----------------------------------- */
header {
  position: relative;
  height: 660px;
  background-color: #2d25a0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  /* padding-bottom: 80px; */
}

/* ---------------------------------
  -----Navigation Section start-----
------------------------------------ */
nav {
  font-size: 16px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left a {
  margin-right: 20px;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-right {
  background-color: #e02c6d;
  padding: 8px 24px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-left a:hover {
  background-color: salmon;
}
/* ---------------------------------
  -----Navigation Section end-----
------------------------------------ */

/* -----------------------------
  -----Banner Section start-----
-------------------------------- */
header:hover .banner-logo img {
  animation: banner-image-zoom-in-out 1s ease-in-out 0.3s infinite alternate;
  -webkit-animation: banner-image-zoom-in-out 1s ease-in-out 0.3s infinite
    alternate;
}

.banner {
  width: 1000px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.banner-title h1 {
  font-size: 50px;
  font-weight: bolder;
}
.banner-title .watch-live {
  display: inline-block;
  background-color: #e02c6d;
  padding: 8px 24px;
  border-radius: 5px;
}

.banner-logo {
  width: 80%;
  display: flex;
  margin-left: 100px;
}
.banner-logo img {
  width: 60%;
  margin-left: 150px;
}
/* -----------------------------
   -------Banner Section end--------
-------------------------------- */
/* -------------------------------
  ------Header section end--------
---------------------------------- */

/* -----------------------------
   ------Main Section start-----
-------------------------------- */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
/* --------------------------------
  ----Top players section start---- 
 ----------------------------------*/
.top-players {
  width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.player {
  padding: 15px;
  box-shadow: 5px 5px 40px rgba(128, 128, 128, 0.274);
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.player img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.player h2 {
  font-weight: bolder;
}

.player:hover img {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
/* ------------------------------
  -----Top players section end-----
----------------------------------- */

/* -----------------------------------
  ------Highlights section start------
-------------------------------------- */
.highlights {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 950px;
  display: flex;
  align-items: center;
}

.highlights-title h1 {
  font-size: 40px;
  font-weight: bolder;
}
.highlights-title .watch-now {
  display: inline-block;
  background-color: #e02c6d;
  padding: 8px 24px;
  border-radius: 5px;
}

.highlights-title{
  width: 50%;
}
.highlights-logo {
  width: 40%;
  display: flex;
  justify-content: end;
  margin-left: 100px;
  margin-right: 0;
}

.highlights-logo img {
  width: 115%;
}
/* ---------------------------------
  ------Highlights section end------
------------------------------------ */

/* ----------------------------
  ------Main section end-------
------------------------------- */

/* --------------------------------
  ------Footer section start-------
----------------------------------- */
footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  width: 40%;
}

footer .social-icons div {
  background-color: rgba(128, 128, 128, 0.205);
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}

.social-icons a {
  color: gray;
}

footer .social-icons #instagram {
  padding: 5px 11px;
}
footer .social-icons #facebook {
  padding: 5px 13px;
}
footer .social-icons #twitter {
  padding: 5px 10px;
}
footer .social-icons #youtube {
  padding: 5px 9px;
  margin-right: 0;
}
/* ------------------------------
  ------Footer section end-------
--------------------------------- */

/* ------ Media Query ------- */
/* ------ Mobile Devices ------- */
@media only screen and (max-width: 688px) {


  header {
    /* display: none; */
    padding: 40px 50px 90px 50px;
    height: 700px;
  }

  .nav-left a {
    margin-right: 10px;
    padding: 0;
  }

  .banner-title,
  .banner-logo,
  .banner-logo img {
    margin: 0;
    padding: 0;
  }

  .banner {
    flex-direction: column;
    margin: 20px 0 0 190px;
  }

  header,
  nav,
  .banner,
  .banner-title,
  .banner-logo,
  .top-players,
  .highlights {
    width: 100%;
  }

  .banner-title {
    margin-bottom: 60px;
  }


  /* Main section */
  main{
    margin-right: 0;
  }
  /* Top players */
  .top-players{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 35px;
    grid-column-gap: 0;
    margin-right: 0;
  }

  .player{
    margin-left: 150px;
  }


  /* Highlights section*/
  .highlights{
    flex-direction: column;
    padding-left: 150px;
    
  }

  .highlights-title{
    margin-bottom: 50px;
  }

  .highlights-logo{
    justify-content: start;
  }
  .highlights-logo img{
    width: 100%;
  }


  /* Footer */
  footer{
    margin-left: 150px;
  }
  footer img{
    width: 100%;
  }

  
}
